
body {
    background-color: #fefefe;
}

.main {
    font-family: Georgia, serif;
}

.tocview, .tocsub {
    background-color: unset;
}

.navsettop, .navsetbottom {
    background: #f8f8f8;
    border: unset;
}

.maincolumn {
    width: initial;
    max-width: 72em;
    min-width: 18em;
    margin-right: 1em;
}

a, .toclink, .toptoclink, .tocviewselflink, .tocviewlink, .tocviewtoggle,
    .plainlink {
    color: #004B6B;
}

h1, h2, h3, h4, h5, h6 {
    color: #c09;
    font-family: Georgia, serif;
}

.tocviewsublistonly {
    border-left: 1px solid #ece0e9;
}

.SCodeFlow {
    padding: 0.5em;
    background: #f8f8f8;
    border-left: 3px solid #e8e8e8;
}

